<header
  class="flex justify-center bg-gradient-to-r from-purple-500 to-pink-500">
  <div class="header-wrapper flex">
    <div class="page-title-section flex flex-col w-10/12 pt-12">
      <a class="group" href="/">
        <h4 class="font-bold text-6xl group-hover:underline">
          {{ pageTitle }}
        </h4>
        <span>{{ pageSubline }}</span>
      </a>
    </div>
    <div class="main-logo-section w-1/6">
      <img
        ngSrc="assets/cropped-logo-oeslegenden.png"
        alt="oes-logo"
        height="512"
        width="512" />
    </div>
  </div>
</header>
